.hidden
{
	display:none;
}

#resultstitle{
	
display: none;	
	
}

#content {
		
	display: none;	
		
	}

    /* Formatting search box */

    .search{

        height: 32px;

        padding: 5px 10px;

        border: 1px solid #CCCCCC;

        font-size: 14px;

    }

    .result{

        position: absolute;        

        z-index: 999;


        left: 2;
		
		

    }

    .search, .result{

        width: 50%;

    }

    /* Formatting result items */

    .result p{

        margin: 0;

        padding: 7px 10px;

        border: 1px solid #CCCCCC;

        border-top: none;

        cursor: pointer;
		
		background-color: #ffffff;

    }

    .result p:hover{

        background: #f2f2f2;

    }



body
{
	background: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}
body li a
{
	text-decoration:none;
	color: #fff;

}
body li a:hover
{
	text-decoration:none;
	color: #000;

}


.trailer
{
	margin-top: 50px;
}
#menuicon
{
	display:none;
}
#container
{
	align-content:center;
	width: auto;px;
	height:auto;
}

#menu
{
	text-align:center;
	width: 1205px;
	height: 50 px;
	text-transform: uppercase;
	padding: 15px 15px 15px 15px;
	}

#home
{
text-align:center;
	display:block;
	background-color: #000;
	height: 50px;
	overflow:hidden;
	padding: 10px 0px 0px 10px;
}
#home:hover
{
	background-color: #fff;
	color: #000;
}

#women
{
text-align:center;
	display:block;
	background-color: #000;
	height: 50px;
	overflow:hidden;
	padding: 10px 0px 0px 10px;
}
#women:hover
{
	background-color: #fff;
	color: #000;
}

 h3
{
	font-family:cursive;
	font-style:italic;
	text-align:center;
}
#women_hats
{
	width: 10020px;
}
#women_hats p
{
	font-family: helvetica;
	text-align:center;
}
#women_hats img
{
border: solid 1px #000;
}


#men
{
text-align:center;
	display:block;
	background-color: #000;
	height: 50px;
	overflow:hidden;
	padding: 10px 0px 0px 10px;
}
#men:hover
{
	background-color: #fff;
	color: #000;
}


#kids
{
	text-align:center;
	display:block;
	background-color: #000;
	height: 50px;
	overflow:hidden;
	padding: 10px 0px 0px 10px;
}
#kids:hover
{
	background-color: #fff;
	color: #000;
}

#imgWrapper
{
	width: 1205px;
	height: 554px;
	overflow:hidden;
}

	.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
	 margin-top: 10px;
    cursor: pointer;
}
.button:hover
{
	  background-color: #fff;
	  color: #000;
}
.btn
{
	background-color: #000;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
	 margin-bottom: 50px;
    cursor: pointer;
}
#btn
{
	margin-top: 30px;
}


#subContent
{
	height: 238px;
	align-content:center;
	text-align:center;
}
#subContent img
{
	opacity: 0.5;
}
#subContent img:hover
{
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	opacity: 1;
}

#footer {
	margin-top: 30px;
	background: #000;
	margin: 0;
	padding: 25px 0 40px;
	clear: both;

}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;

}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;

	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;

}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;

}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}



@media only screen and (max-width: 800px) {
	#container
	{
		width: 296px;
		height: auto;
	}
	#menuicon
{
	display:block;

}

	#menu
	{
		display: none;
	}

	#subContent
	{
		width: 296px;
		align-content:center;
		height:auto;
		margin-left: 70px;
	}
	#subContent img
	{
		width: 80%;
		height: 80%;
	}
	#imgWrapper
	{
		width: 100%;
		height: 100%;
		overflow:hidden;
	}
	#footer {
	padding: 10px 0 25px;
}
#footer div {
	overflow: visible;

}
#footer div p {
	float: none;
	margin: 0;
	text-align: center;
}
#footer div ul {
	float: none;
	margin: 0 auto;

}

}
